/**************HTML ELEMENTS*******************/

a {
    color: #11999E;
}

body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}


h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 1;
    margin-top: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-color: #808080;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 5%;

}


p {
    line-height: 2;
}


/***************** CLASSES & IDS*****************/



.btn {
    text-decoration: none;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    margin-bottom: 300px;
}

.contact-me {
    margin: 5px;
}

div:flexbox {}

.footer-link {
    text-decoration: none;
    margin: 5px;
}


.intro {
    margin: auto;
    width: 30%;
}

.middle-container {
    margin: 100px 0;
    padding-bottom: 100px;
    flex-direction: row;
}



.skill-row {
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    justify-content: flex-end;

}

.skill-one {
    align-self: flex-start;
    justify-content: flex-end;
}

#media-img {
    align-self: flex-start;
    flex: 1;
    justify-content: flex-start;
    padding: 10px;
    width: 25%;
}



/*
.skill-two-keyboard {
    float: right;
    width: 25%;
    margin-right: 30px;
}
*/

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    margin: 5px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}


/*************** IDS **************/
#flexbox
