/**************HTML ELEMENTS*******************/

a {
    color: #11999E;
}

body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}


h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 1;
    margin-top: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
   border-color: #EAF6F6;
   border-style: none;
   border-top-style: dotted;
   border-width: 5px;
   width: 5%;

 }


p {
    line-height: 2;
}


/***************** CLASSES & IDS*****************/



.btn {
    text-decoration: none;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  margin-bottom: 300px;
}

.contact-me {
    margin: 5px;
}

.footer-link {
    text-decoration: none;
    margin: 5px;
}


.intro {
    margin: auto;
    width: 30%;
}

.middle-container {
    margin: 100px 0;
}


.skill-row {
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.skill-one-pc {
    float: left;
    width: 25;
    margin-right: 30px;
}

.skill-two-keyboard {
    float: right;
    width: 25%;
    margin-right: 30px;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    margin: 5px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
